    <div class="row adminsettings">
        <div class="col-md-12">
            <h4 class="title mb-3">Beheerder Instellingen</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
                       aria-selected="true">Algemene Instellingen</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                       aria-selected="false">Beheerder Instellingen</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="devices-tab" data-toggle="tab" href="#devices" role="tab" aria-controls="devices"
                       aria-selected="false">Ingelogde apparaten</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="devices"
                       aria-selected="false">Contact Instellingen</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">


                    {{ @include(admin/settings/generalsettings) }}

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                    {{ @include(admin/settings/adminsettings) }}

                </div>
                <div class="tab-pane fade" id="devices" role="tabpanel" aria-labelledby="devices-tab">

                    {{ @include(admin/settings/admindevices) }}

                </div>
                
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    {{ @include(admin/settings/admincontact) }}

            </div>
        </div>
    </div>
</div>