@import "../variables"
@import "../mobile"

html, body
    overflow: auto!important

main
    background: #e6ebf1

.admin

    &-content
        padding: 0 1rem

        &-items
            border-radius: .5rem
            background: $white
            padding: 1.5rem 2rem
            box-shadow: 1px 1px 5px rgba(0,0,0,.2)

    &-header
        margin-bottom: 3rem
        display: flex
        align-items: center

        &-account
            margin-left: auto
            padding: .3rem 1rem
            display: flex
            align-items: center
            justify-content: center
            background: white
            border-radius: .3rem
            box-shadow: 1px 1px 5px rgba(0,0,0,.2)

            &-img
                width: 2rem
                border-radius: 50%
                margin-right: .5rem
                box-shadow: 0 0 3px black

            &-text
                font-weight: bold

        &-brand
            display: flex
            align-items: center

            & h6
                margin-bottom: 0

            & img
                width: 3rem