@import "../variables"
@import "../mobile"

.login
    background: url("/assets/images/background.svg")
    background-size: cover
    background-repeat: no-repeat
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    &-form
        background: $white
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 0 5rem
        border-radius: 1rem
        width: 40%
        box-shadow: 0 0 20px rgba(180,180,180,.25)

        @include mobile-navbar-and-below
            width: 45%

        @include mobile-only
            width: 90%

        &-title
            margin-top: 1.5rem

        &-group
            padding: 3rem 0
            width: 100%

            & form
                width: 100%

            &-submit
                width: 100%

        &-icon
            background: white
            border-radius: 50%
            width: 4rem
            height: 4rem
            margin-top: -2rem
            padding: .4rem

            & img
                width: 100%