@import "../variables"
@import "../mobile"

.navigation
    background: transparent

    &-item
        background: transparent
        margin-bottom: 1.4rem
        border-radius: .5rem

        & .active
            box-shadow: 1px 1px 5px rgba(0,0,0,.2)
            background: rgba(255,255,255,.3)!important

        &-link
            border-radius: .5rem
            text-decoration: none
            color: #333
            display: flex
            align-items: center

            & .material-icons
                margin-right: .5rem

            &:hover
                color: #333

