.navigation{background:transparent}.navigation-item{background:transparent;margin-bottom:1.4rem;border-radius:.5rem}.navigation-item .active{box-shadow:1px 1px 5px rgba(0,0,0,.2);background:rgba(255,255,255,.3) !important}.navigation-item-link{border-radius:.5rem;text-decoration:none;color:#333;display:flex;align-items:center}.navigation-item-link .material-icons{margin-right:.5rem}.navigation-item-link:hover{color:#333}/*# sourceMappingURL=navbar.css.map */
