@import "../variables"
@import "../mobile"

.overview

    &-price
        color: $mainColor

    &-mostsold
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))

        &-link
            text-decoration: none
            color: $black

            &-item
                padding: .5rem

                &-image
                    min-height: 185px
                    display: flex
                    align-items: center
                    justify-content: center

                    & img
                        width: 100%

                &-body
                    &-title
                        white-space: nowrap
                        text-overflow: ellipsis
                        max-width: 180px
                        overflow: hidden
                        color: $black

            &:hover
                text-decoration: none
                color: $black