@import "../variables"
@import "../mobile"

.edit

    &-images
        height: 8rem
        display: flex
        align-items: center
        overflow-x: auto

        &-container
            &-delete
                position: absolute
                background: rgba(0,0,0,.4)
                margin: .2rem
                border-radius: .3rem
                color: $white

                &:hover
                    color: $white

        &-upload
            margin-left: auto
            & form
                display: flex
                margin: 0
                flex-direction: column

        & img
            margin-right: 1rem
            height: 100%

    &-categories
        display: flex
        align-items: center
        overflow-x: auto

        &-container
            display: flex
            align-items: center
            background: rgba(0,0,0,.3)
            padding: .2rem .5rem
            border-radius: 3rem
            margin-right: 1rem
            white-space: nowrap

            &-delete
                background: rgba(255,255,255,.4)
                color: #333
                margin-right: .5rem
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center

                &:hover
                    text-decoration: none
                    color: #333

                & .material-icons
                    font-size: 1rem

        &-new
            margin-left: auto
            & form
                display: flex
                margin: 0
                flex-direction: column