@import "../variables"
@import "../mobile"

.users
    &-table
        &-row
            &-image
                width: 3rem
                height: 3rem
                border-radius: 50%
                box-shadow: 0 0 6px rgba(0,0,0,.1)

            &-noborder td
                border-top: 0