<div class="my-3">
    <form method="post" action="/endpoint/my-account/addressdata">

        {{ @include(CSRF) }}

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputAddress">Adres</label>
                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Adres" value="{{ $user['address'] }}">
            </div>

            <div class="form-group col-md-4">
                <label for="inputHousenumber">Huisnummer</label>
                <input type="text" class="form-control" id="inputHousenumber" name="house_number" placeholder="Huisnummer" value="{{ $user['house_number'] }}">
            </div>
        </div>

        <div class="form-group">
            <label for="inputZip">Postcode</label>
            <input type="text" class="form-control" id="inputZip" name="zipcode" placeholder="Postcode" value="{{ $user['zipcode'] }}">
        </div>

        <div class="form-group">
            <label for="inputDomicile">Woonplaats</label>
            <input type="text" class="form-control" id="inputDomicile" name="domicile" placeholder="Woonplaats" value="{{ $user['domicile'] }}">
        </div>
        
        <div class="form-group">
            <label for="inputState">Provincie</label>
            <select name="province" id="inputState" class="form-control">
                <option selected hidden disabled>Kies uit...</option>
                <option value="Groningen" {{ @if($user['province'] == 'Groningen') }}selected{{ @endif }}>Groningen</option>
                <option value="Friesland" {{ @if($user['province'] == 'Friesland') }}selected{{ @endif }}>Friesland</option>
                <option value="Drenthe"   {{ @if($user['province'] == 'Drenthe') }}selected{{ @endif }}>Drenthe</option>
                <option value="Overijssel" {{ @if($user['province'] == 'Overijssel') }}selected{{ @endif }}>Overijssel</option>
                <option value="Flevoland" {{ @if($user['province'] == 'Flevoland') }}selected{{ @endif }}>Flevoland</option>
                <option value="Gelderland" {{ @if($user['province'] == 'Gelderland') }}selected{{ @endif }}>Gelderland</option>
                <option value="Utrecht" {{ @if($user['province'] == 'Utrecht') }}selected{{ @endif }}>Utrecht</option>
                <option value="Noord-Holland" {{ @if($user['province'] == 'Noord-Holland') }}selected{{ @endif }}>Noord-Holland</option>
                <option value="Zuid-Holland" {{ @if($user['province'] == 'Zuid-Holland') }}selected{{ @endif }}>Zuid-Holland</option>
                <option value="Noord-Brabant" {{ @if($user['province'] == 'Noord-Brabant') }}selected{{ @endif }}>Noord-Brabant</option>
                <option value="Limburg" {{ @if($user['province'] == 'Limburg') }}selected{{ @endif }}>Limburg</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Wijzigingen opslaan</button>
        
    </form>
</div>