<div class="my-3">
    <form method="post" action="/endpoint/my-account/password">

        {{ @include(CSRF) }}

        <!-- old_password -->
        <!-- password -->
        <!-- password_confirmation -->

        <div class="form-group">
            <label for="inputOldPassword">Oude wachtwoord</label>
            <input type="password" class="form-control" id="inputOldPassword" name="old_password" placeholder="Oude wachtwoord">
        </div>

        <div class="form-group">
            <label for="inputEmail">Wachtwoord</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Wachtwoord">
        </div>

        <div class="form-group">
            <label for="inputPasswordConfirmation">Wachtwoord bevestigen</label>
            <input type="password" class="form-control" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Nieuwe wachtwoord bevestigen">
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Wachtwoord wijzigen</button>

    </form>
</div>
