<div class="products-sidebar row sticky-top py-5">
    {{ @if(
        (isset($cat) && $cat !== '') ||
        (isset($query) && $query !== '') ||
        (isset($min) && $min !== '' && $min != 0) ||
        (isset($max) && $max !== '' && $max != 3000)
    ) }}
    <div class="products-sidebar-removefilters w-100 mb-3">
        <form method="get" action="products">
            <input type="hidden" name="p" value="{{ $currentPage }}"/>
            <input type="hidden" name="per" value="{{ $productsPerPage }}"/>

            <div class="row mx-0 w-100">
                <input type="submit" class="form-control btn products-sidebar-price-submit-button w-100" value="Verwijder alle filters"/>
            </div>
        </form>
    </div>
    {{ @endif }}
    <div class="products-sidebar-price mb-3">
        <h6>Filter op prijs</h6>
        <form method="get" action="products">
            <input type="hidden" name="p" value="{{ $currentPage }}"/>
            <input type="hidden" name="per" value="{{ $productsPerPage }}"/>
            <input type="hidden" name="cat" value="{{ $cat }}"/>
            <input type="hidden" name="query" value="{{ $query }}"/>

            <div class="row mx-0">
                <div class="products-sidebar-price-input col">
                    <input type="number" id="price-min" name="min" class="form-control" placeholder="Min" min="0" value="{{ @if(isset($min)) }}{{ $min }}{{ @endif }}"/>
                </div>
                <div class="products-sidebar-price-input col">
                    <input type="number" id="price-max" name="max" class="form-control" placeholder="Max" min="0" value="{{ @if(isset($max)) }}{{ $max }}{{ @endif }}"/>
                </div>
            </div>
            <div class="products-sidebar-price-submit row mx-0">
                <input type="submit" class="form-control btn products-sidebar-price-submit-button" value="Toepassen"/>
            </div>
        </form>
    </div>
    <div class="products-sidebar-categories-list mb-3">
        <h6>Filter op categorie</h6>
        <ul class="list-group list-group-flush overflow-auto">
            <li class="list-group-item products-sidebar-categories-list-item{{ @if(!isset($cat)) }}-active{{ @endif }}"><a href="/products?p={{ $currentPage }}&per={{ $productsPerPage }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">Alle producten</a></li>

            {{ @for($categories as $category) }}

                {{ @if($cat == $category['StockGroupID']) }}
                    <li class="list-group-item products-sidebar-categories-list-item-active"><a href="/products?p={{ $currentPage }}&per={{ $productsPerPage }}&cat={{ $category['StockGroupID'] }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">{{ $category['StockGroupName'] }}</a></li>
                {{ @else }}
                    <li class="list-group-item products-sidebar-categories-list-item"><a href="/products?p={{ $currentPage }}&per={{ $productsPerPage }}&cat={{ $category['StockGroupID'] }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">{{ $category['StockGroupName'] }}</a></li>
                {{ @endif }}

            {{ @endfor }}

        </ul>
    </div>
    <div class="products-sidebar-perpage w-100">
        <h6>Producten per pagina</h6>
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <a class="btn products-sidebar-perpage-button {{ @if($productsPerPage == 25) }}disabled{{ @endif }}" href="/products?p={{ $currentPage }}&per=25&cat={{ $cat }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">25</a>
            <a class="btn products-sidebar-perpage-button {{ @if($productsPerPage == 50) }}disabled{{ @endif }}" href="/products?p={{ $currentPage }}&per=50&cat={{ $cat }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">50</a>
            <a class="btn products-sidebar-perpage-button {{ @if($productsPerPage == 100) }}disabled{{ @endif }}" href="/products?p={{ $currentPage }}&per=100&cat={{ $cat }}&query={{ $query }}&min={{ $min }}&max={{ $max }}">100</a>
        </div>
    </div>
</div>
