@import "variables"
@import "mobile"

.myaccount

    &-signedindevices
        &-table
            width: 100%

            & tr td
                padding: 1.5rem 0

                &:first-child
                    padding-left: .5rem

            &-currentdevice
                &  td
                    padding: 1.5rem 0 .4rem!important
                    color: $mainColor

                    & span
                        color: $mainColor
                        font-weight: bold
                        margin-right: .5rem
                        padding: .1rem .5rem
                        background: rgba(83,42,177,.2)
                        border-radius: 3rem

                &-row td
                    padding: 0 0 1.5rem!important

                    &:first-child
                        padding-left: .5rem!important