@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')
@import "variables"
@import "mobile"

html, body
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    background: #FCFCFC
    height: 100%
    overflow-x: hidden

body
    display: flex
    flex-direction: column

main
    flex: 1 0 auto

p
    margin: 0

.title
    color: #333
    font-weight: bold

.dropdown-menu
    border-radius: 1rem
    box-shadow: 2px 2px 10px rgba(0,0,0,.3)
    border-color: white
    padding: 1rem 0
    @include mobile-navbar-and-below
        box-shadow: unset

.nav-item .nav-link.active
    background: #FCFCFC

.dropdown-menu-right
    animation-name: dropdown-openup
    animation-duration: .1s
    animation-fill-mode: both

@keyframes dropdown-openup
    0%
        transform: scale(0)
    100%
        transform: scale(1)
        transform-origin: top right