@import "variables"
@import "mobile"

.checkout

    &-nav
        width: 100%
        display: flex
        justify-content: center

        &-line
            display: flex
            align-items: center
            width: 33%

            &-content
                width: 100%
                height: 3px
                background: rgba(0,0,0,.1)

                &-loader
                    height: 3px
                    width: 0%
                    background: #4d00ff

        &-item
            display: flex
            align-items: center

            &-current
                display: none

            &-link
                background: $mainColor
                padding: .5rem
                border-radius: 50%
                pointer-events: none

                & .material-icons
                    display: flex

            & span
                color: $white

    &-card
        padding: 1.6rem 3rem
        border-radius: 1rem
        background: $lightBackgroundPurple
        cursor: pointer
        border: 4px solid transparent

        &-header
            margin-bottom: 1rem

        &-body
            display: flex
            min-height: 6rem

            &-text
                padding-left: 2rem

            &-icon
                color: #bca8eb

                & svg
                    height: 64px
                    width: 64px

                & span
                    font-size: 4rem

        &-time
            &-selected
                border: 4px solid #4d00ff

        &-deliveryaddress

            &-selected
                border: 4px solid #4d00ff

        &-pay
            &-selected
                border: 4px solid #4d00ff

    &-content

        &-firstcart
            @include tablet-portrait-and-below
                margin-bottom: 1.5rem

        &-pagination
            display: flex

            & button:first-child
                margin-left: auto

    &-overview

        &-body
            padding: 1rem 2rem

            &-actions
                display: flex
                align-items: center

                & form
                    margin: 0

                & button
                    margin-left: auto

            &-paddingcontainer
                padding: 1rem 1rem 1rem
                margin: 1rem 0 2rem
                background: $lightBackgroundPurple
                border-radius: .5rem

            &-info

                & tr td
                    padding: .5rem 0

            &-products

                &-bar
                    height: 1rem

                    & td:last-child
                        border-bottom: 1px solid black

                &-total

                    & td
                        padding-top: 1rem

                & tr td
                    & img
                        width: 5rem
                        padding: .5rem




.nav-item .nav-link.active
    background: $mainColor

    & .checkout-nav-item-current
        display: block
        width: 10px
        height: 10px
        background: #2EF8BB
        position: absolute
        margin-left: 7px
        margin-top: .7rem
        border-radius: 50%
        animation-name: current-drop
        animation-duration: .4s
        animation-fill-mode: both

@keyframes current-drop
    0%
        opacity: 0
        margin-top: 0rem
        color: $mainColor
    100%
        opacity: 1
        margin-top: .7rem
        background: #2EF8BB

.progressBarFull
    animation-name: progress-fill
    animation-duration: .5s
    animation-fill-mode: both

.progressBarEmpty
    animation-name: progress-empty
    animation-duration: .5s
    animation-fill-mode: both

@keyframes progress-fill
    0%
        width: 0%
    100%
        width: 100%

@keyframes progress-empty
    0%
        width: 100%
    100%
        width: 0%