@import "variables"
@import "mobile"

.paymentdone
    &-image
        width: 100%
        display: flex
        align-items: center
        justify-content: center

        & img
            width: 22rem

    &-title
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

        & h2
            margin-bottom: 1rem

        & p
            display: flex
            align-items: center

            & .material-icons
                margin-right: 1rem
                font-size: 2rem
                color: $lightBackgroundPurple
                text-shadow: 0 0 5px $mainColor

        &-deliverytime
            font-weight: bold
            margin-left: 3px