.paymentdone-image{width:100%;display:flex;align-items:center;justify-content:center}.paymentdone-image img{width:22rem}.paymentdone-title{display:flex;align-items:center;justify-content:center;flex-direction:column}.paymentdone-title h2{margin-bottom:1rem}.paymentdone-title p{display:flex;align-items:center}.paymentdone-title p .material-icons{margin-right:1rem;font-size:2rem;color:#eeebf5;text-shadow:0 0 5px #532ab1}.paymentdone-title-deliverytime{font-weight:bold;margin-left:3px}/*# sourceMappingURL=checkoutfinished.css.map */
