@import "variables"
@import "mobile"

.contact

    &-list
        list-style-type: none
        padding: 0
        margin: 2.5rem 0 0

        &-item
            display: flex
            align-items: center
            margin-bottom: 2rem

            & .material-icons
                margin-right: .5rem