.contact-list{list-style-type:none;padding:0;margin:2.5rem 0 0}.contact-list-item{display:flex;align-items:center;margin-bottom:2rem}.contact-list-item .material-icons{margin-right:.5rem}/*# sourceMappingURL=contact.css.map */
