@import "variables"
@import "mobile"

.favorites

    &-products

        &-none
            color: grey
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 3rem 0

            &-icon
                font-size: 6rem
                color: whitesmoke
                margin-bottom: .5rem

        &-table
            width: 100%
            margin: 3rem 0 0

            & tr td
                padding-bottom: 1.5rem

            &-img
                width: 5rem
                @include mobile-only
                    padding: .8rem

            &-text
                font-weight: bold

                & a
                    text-decoration: none
                    color: #333

            &-actions
                display: flex

                & form
                    margin: 0

            &-info
                display: flex
                align-items: center
                margin-top: .3rem

                &-price
                    color: rgba(255, 0, 0, 0.8)
                    font-weight: bold
                    margin-right: .5rem
                    padding: .1rem .5rem
                    background: rgba(255,0,0,.2)
                    border-radius: 3rem

                &-stars
                    padding: .1rem .5rem
                    background: rgba(83,42,177,.2)
                    border-radius: 3rem
                    display: flex
                    align-items: center

                    & .material-icons
                        font-size: 15px
                        padding: 4.5px 0

                    &-positive
                        color: $mainColor

                    &-negative
                        color: grey