@import "variables"
@import "mobile"

.footer
    background: $mainColor
    padding-top: 3rem
    padding-bottom: 3rem
    flex-shrink: 0

    &-info
        &-logo
            display: flex
            align-items: center

            &-img
                width: 2rem
                height: 2rem

            &-text
                color: $white
                margin: 0

        &-text
            margin: 1rem 0
            color: lightgray

    &-links

        &-text
            color: $white

        &-list
            list-style-type: none
            padding: 0
            margin: 1rem 0

            &-item
                & a
                    text-decoration: underline
                    color: lightgray

    &-newsletter

        &-text
            color: $white

    &-icons
        filter: invert(100%) sepia(10%) saturate(7458%) hue-rotate(164deg) brightness(119%) contrast(109%)

        & a svg
            margin-bottom: .5rem
