@import "variables"
@import "mobile"

.header
    background: $lightBackground
    @include tablet-portrait-and-below
        display: none

    &-text
        font-weight: bold
        font-size: .8rem
        padding: .2rem 0

        span
            color: $mainColor