.home-title {
  margin-bottom: 1rem;
}
.home-title h4 {
  color: #333;
  font-weight: bold;
}
.home-categories-grid {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.home-categories-grid-item {
  height: 240px;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 0.3rem;
  background: url("/assets/images/products/StockGroupIMG/overig.webp");
  background-size: cover;
}
.home-categories-grid-item:hover {
  transform: scale(1.05);
}
.home-categories-grid-item h5 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.3rem;
}
.home-categories-grid-item h5 a {
  text-decoration: none;
  color: white;
}
.home-categories-grid-item h5 a .material-icons {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.home-deal {
  margin-bottom: 5rem;
}
.home-deal-item {
  display: flex;
  background: white;
  box-shadow: 1px 1px 10px whitesmoke;
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
}
.home-deal-item-image {
  padding: 0.8rem;
  background: #EEEBF5;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-deal-item-image img {
  height: 3rem;
}
.home-deal-item-info {
  padding-left: 1rem;
}
.home-deal-item-info-title {
  margin-bottom: 0.8rem;
}
.home-deal-item-info-title h5 {
  font-weight: bold;
  margin-bottom: 0;
}
.home-deal-item-info-title h5 span {
  color: #532AB1;
  font-size: 1.6rem;
}
.home-deal-item-info-title small {
  color: grey;
}
.home-lastviewed-grid {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.home-lastviewed-grid-link {
  text-decoration: none;
  color: #000000;
}
.home-lastviewed-grid-link:hover {
  text-decoration: none;
  color: #000000;
}
.home-lastviewed-grid-item {
  padding: 0.5rem;
}
.home-lastviewed-grid-item-image {
  min-height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-lastviewed-grid-item-image img {
  width: 100%;
}
.home-lastviewed-grid-item-body-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
  overflow: hidden;
  color: #000000;
}
.home-lastviewed-grid-item-body-price {
  color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
}
.home-lastviewed-grid-item-body-price-crossed {
  color: grey;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

/*# sourceMappingURL=home.css.map */
