@import "variables"
@import "mobile"

.home

    &-title
        margin-bottom: 1rem

        & h4
            color: #333
            font-weight: bold

    &-categories

        &-grid
            margin-bottom: 5rem
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

            &-item
                height: 240px
                margin: .4rem
                display: flex
                align-items: center
                justify-content: center
                transition: .2s
                border-radius: .3rem
                background: url("/assets/images/products/StockGroupIMG/overig.webp")
                background-size: cover

                &:hover
                    transform: scale(1.05)

                & h5
                    color: $white
                    background: rgba(0,0,0,.5)
                    padding: 1rem
                    border-radius: .3rem

                    & a
                        text-decoration: none
                        color: $white

                        & .material-icons
                            font-size: 1rem
                            margin-left: .5rem

    &-deal
        margin-bottom: 5rem

        &-item
            display: flex
            background: $white
            box-shadow: 1px 1px 10px whitesmoke
            padding: 1.5rem 1rem
            border-radius: .3rem

            &-image
                padding: .8rem
                background: $lightBackgroundPurple
                border-radius: .3rem
                display: flex
                align-items: center
                justify-content: center

                & img
                    height: 3rem


            &-info
                padding-left: 1rem

                &-title
                    margin-bottom: .8rem

                    & h5
                        font-weight: bold
                        margin-bottom: 0

                        & span
                            color: $mainColor
                            font-size: 1.6rem

                    & small
                        color: grey


    &-lastviewed

        &-grid
            margin-bottom: 5rem
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))

            &-link
                text-decoration: none
                color: $black

                &:hover
                    text-decoration: none
                    color: $black

            &-item
                padding: .5rem

                &-image
                    min-height: 185px
                    display: flex
                    align-items: center
                    justify-content: center

                    & img
                        width: 100%

                &-body
                    &-title
                        white-space: nowrap
                        text-overflow: ellipsis
                        max-width: 180px
                        overflow: hidden
                        color: $black

                    &-price
                        color: rgba(255, 0, 0, 0.8)
                        font-weight: bold

                        &-crossed
                            color: grey
                            font-size: .9rem
                            margin-left: .5rem
                            text-decoration: line-through



