@import "variables"
@import "mobile"

.navigation
    background: $lightBackgroundPurple
    padding-top: .5rem
    padding-bottom: .5rem

    &-brand
        font-weight: bold

    &-search
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        margin: 0
        @include mobile-navbar-and-below
            width: 55%

        &-container
            display: flex
            align-items: center
            justify-content: center
            width: 50%
            @include mobile-navbar-and-below
                width: 100%

            &-input
                background: $white
                border: 0
                border-radius: 3rem
                padding: .4rem .6rem
                width: 100%

            &-button
                background: $mainColor
                border-radius: 3rem
                border: 0
                height: 42px
                width: 42px
                display: flex
                align-items: center
                justify-content: center
                margin-left: -21px

                & svg
                    height: 1.5rem

    &-brand
        @include mobile-only
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            padding-bottom: 1rem
            padding-top: 1rem

    &-list
        &-dropdown

            &-shoppingcartnr
                font-family: 'Open Sans', sans-serif
                position: absolute
                font-size: .8rem
                font-weight: bold
                padding: .2rem .8rem
                background: #2EF8BB
                border-radius: 5rem
                box-shadow: 0 0 4px rgba(0,0,0,.3)
                margin-left: 8px
                animation-name: pop-up
                animation-duration: .3s
                animation-fill-mode: both
                @include mobile-navbar-and-below
                    display: none

            &-favorites
                padding: 1rem

                &-login
                    display: flex
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    text-align: center
                    color: gray

                    & small
                        margin-top: .5rem

                &-list
                    &-title
                        margin: 0
                        white-space: nowrap

                    &-edit
                        white-space: nowrap

                    &-table
                        margin: 1rem 0
                        width: 100%

                        &-img
                            width: 2rem

                        &-nofavorites
                            color: gray
                            text-align: center

                        &-link
                            text-decoration: none!important

                        &-text
                            white-space: nowrap
                            margin-left: .5rem
                            text-overflow: ellipsis
                            max-width: 200px
                            overflow: hidden
                            color: $black

                        & tr td
                            padding-bottom:  .5rem

            &-shoppingcart
                padding: 1rem

                &-list
                    &-title
                        margin: 0
                        white-space: nowrap

                    &-edit
                        white-space: nowrap

                    &-table
                        margin: 1rem 0
                        width: 100%

                        &-img
                            width: 2rem

                        &-noshoppingcartitems
                            color: gray
                            text-align: center

                        &-link
                            text-decoration: none!important

                        &-text
                            white-space: nowrap
                            margin-left: .5rem
                            text-overflow: ellipsis
                            max-width: 200px
                            overflow: hidden
                            color: $black

                        & tr td
                            padding-bottom:  .5rem

                        &-amount
                            padding: .1rem .3rem
                            border-radius: .4rem
                            background: rgba(0,0,0,.1)


                &-login
                    text-align: center
                    display: flex
                    flex-direction: column

                    & a
                        margin: .5rem 0

                    & small
                        color: gray

                    & .material-icons
                        color: gray


            &-list
                &-item
                    display: flex
                    align-items: center

                    & .material-icons
                        margin-right: .5rem

        &-link
            display: flex
            align-items: center
            justify-content: center
            background: white
            border-radius: 5rem
            margin-left: .5rem
            @include mobile-navbar-and-below
                margin: .5rem 0

            & .material-icons
                color: $black

            &-text
                color: $black
                display: none
                @include mobile-navbar-and-below
                    display: block

        &-item
            display: flex
            align-items: center
            justify-content: center
            @include mobile-navbar-and-below
                display: block

@keyframes pop-up
    0%
        font-size: .1rem
    100%
        font-size: 0.8rem