@import "variables"
@import "mobile"

.orders

    &-list

        &-item

            &-header
                cursor: pointer
                display: flex

                &-cancel button
                    background: #e2e6ea
                    border-color: #e2e6ea

                &-pay
                    & .material-icons
                        font-size: 1.3rem

                &-info
                    display: flex
                    flex-direction: column

                &-options
                    margin-left: auto
                    display: flex

            &-row
                display: flex
                align: items
                margin-bottom: .5rem

                &-name
                    display: flex
                    align-items: center

                &-image
                    width: 3rem
                    margin-right: 1rem

                    & img
                        width: 100%

                &-retour
                    margin-left: auto
                    