.orders-list-item-header {
  cursor: pointer;
  display: flex;
}
.orders-list-item-header-cancel button {
  background: #e2e6ea;
  border-color: #e2e6ea;
}
.orders-list-item-header-pay .material-icons {
  font-size: 1.3rem;
}
.orders-list-item-header-info {
  display: flex;
  flex-direction: column;
}
.orders-list-item-header-options {
  margin-left: auto;
  display: flex;
}
.orders-list-item-row {
  display: flex;
  align: items;
  margin-bottom: 0.5rem;
}
.orders-list-item-row-name {
  display: flex;
  align-items: center;
}
.orders-list-item-row-image {
  width: 3rem;
  margin-right: 1rem;
}
.orders-list-item-row-image img {
  width: 100%;
}
.orders-list-item-row-retour {
  margin-left: auto;
}

/*# sourceMappingURL=orders.css.map */
