@import "variables"
@import "mobile"

$buttonLightPurple: #DBD5F2
$buttonLightPurpleHover: #A897ED

html
    overflow-x: unset

.products

    &-title
        margin-left: .8rem

    &-grid
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

        &-item
            text-decoration: none
            color: $black
            transition: .2s
            margin: .8rem
            background: white
            box-shadow: 0 0 6px rgba(0,0,0,.1)
            border-radius: 0.7rem
            border: 4px solid transparent

            &:hover
                text-decoration: none
                color: $black
                border-color: $lightBackgroundPurple
                box-shadow: 0 0 10px rgba(0,0,0,.1)

            &-button
                background: white
                color: grey
                margin-top: .5rem
                font-weight: bold
                box-shadow: 0 0 6px rgba(0,0,0,.1)
                padding: .5rem
                display: flex
                align-items: center
                justify-content: center

                & .material-icons
                    margin-right: .5rem
                    font-size: 1.4rem

                &:hover
                    background-color: #DBD5F2
                    color: $mainColor

            &-footer
                border-radius: 0 0 .7rem .7rem
                background: #EAE5FF
                border-top: 0

                &-info
                    display: flex

                    &-stars
                        display: flex
                        margin-bottom: .5rem
                        margin-left: auto

                        &-positive
                            color: $mainColor

                        &-negative
                            color: grey

                    &-price
                        font-weight: bold
                        color: rgba(255,0,0,.8)
                        width: 100%

                        &-first
                            font-size: 1.5rem

                        &-comma
                            font-size: 1.5rem
                            margin-left: -.4rem

                        &-second
                            font-size: .8rem
                            margin-top: .2rem
                            margin-left: -.2rem
                            position: absolute

                        &-discount
                            font-weight: normal
                            color: gray
                            margin-left: 1rem
                            margin-right: -.1rem
                            font-size: 1rem
                            text-decoration: line-through

    &-sidebar
        @include tablet-portrait-and-below
            margin-right: 0
            margin-left: 0

        & h6
            color: $mainColor
            font-weight: bold

        &-price
            align-items: center
            justify-content: center
            width: 100%

            & label
                font-size: small

            &-input
                padding: .2rem 0

                &:first-child
                    margin-right: .1rem

                &:last-child
                    margin-left: .1rem

                &:focus
                    border-color: rgba(255, 239, 104, 0.8)
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6)
                    outline: 0 none

            &-submit
                padding-top: .2rem

                &-button
                    background-color: $buttonLightPurple
                    color: $mainColor
                    white-space: nowrap

                    &:hover
                        background-color: $buttonLightPurpleHover

        &-categories
            color: $mainColor

            &-list
                width: 100%
                margin-bottom: 1rem

                & ul
                    @include tablet-portrait-and-below
                        list-style-type: none
                        white-space: nowrap
                        overflow-x: auto
                        display: block
                        padding: .5rem

                &-item,&-item-active
                    text-decoration: none
                    color: $mainColor
                    background: none
                    transition: ease .3s
                    padding: .75rem

                    @include tablet-portrait-and-below
                        display: inline
                        padding: .5rem
                        border-radius: .3rem

                    & a
                        text-decoration: none
                        color: $mainColor

                        &:hover
                            text-decoration: none

                    &-active
                        background: $buttonLightPurple

                    &:hover
                        background: $lightBackgroundPurple


        &-perpage
            font-size: small

            @include tablet-portrait-and-below
                width: 100%

            &-button
                background-color: $buttonLightPurple
                color: $mainColor

                &:hover
                    background-color: $buttonLightPurpleHover

                &:active
                    background-color: $buttonLightPurpleHover

    &-pagination

        &-list

            &-item

                &-page
                    @include mobile-only
                        display: none

    &-notfound
        color: gray
