@import "variables"
@import "mobile"

.product

    &-temp
        position: absolute
        z-index: 1
        display: flex
        background: $white
        align-items: center
        justify-content: center
        border-radius: .3rem
        animation-name: scale-in-left
        animation-duration: .4s
        animation-fill-mode: both
        padding: .4rem 1rem
        border: 2px solid #f5f5f5
        box-shadow: 1px 1px 10px #f5f5f5

        &-icon
            margin-right: 1rem
            color: #48BDFF
            display: flex
            align-items: center
            justify-content: center

        &-text

            &-main
                font-weight: bold

            &-live
                text-shadow: 0 4px 4px rgba(0,0,0,.20)

            & p
                margin: 0



    &-title
        margin-bottom: 5rem

        & h4
            font-weight: bold

            & span
                color: rgba(255, 0, 0, .7)
                padding: .1rem .5rem
                border-radius: .2rem
                margin-left: .3rem
                background: whitesmoke
                font-size: 1.2rem

        &-extra
            display: flex
            align-items: center

            & p
                color: $mainColor

            &-devide
                margin: 0 .5rem
                width: 5px
                height: 5px
                background: grey
                border-radius: 50%

            &-stars
                font-size: .1rem

    &-image
        display: flex
        align-items: center
        justify-content: center
        background: #fcfcfc

        & .carousel
            background: #fcfcfc

        &-src
            width: 90%


    &-info
        &-box
            border: 2px solid whitesmoke
            border-radius: .3rem
            padding: 2rem 3rem
            box-shadow: 1px 1px 10px whitesmoke

            &-sub
                display: flex
                align-items: center

                &-stock
                    color: $success
                    font-weight: bold

                &-nostock
                    color: rgba(255,0,0,.8)
                    font-weight: bold

                &-devide
                    margin: 0 .2rem
                    width: 3px
                    height: 3px
                    background: grey
                    border-radius: 50%

            &-price

                & h1
                    font-weight: bold
                    color: rgba(255,0,0,.8)

                &-first
                    font-size: 3.3rem

                &-comma
                    font-size: 3rem
                    margin-left: -.8rem

                &-second
                    font-size: 1.8rem
                    margin-top: .4rem
                    margin-left: -.3rem
                    position: absolute

                &-old
                    color: lightgray
                    text-decoration: line-through
                    font-weight: normal
                    font-size: 1.6rem

            &-actions
                margin: 2rem 0
                display: flex

                &-shoppingcart
                    display: flex
                    align-items: center
                    justify-content: center

                    & span
                        margin-right: .3rem

                &-favorite
                    margin-left: .3rem

                    
            &-checklist

                &-list
                    list-style-type: none
                    padding: 0
                    margin: 0

                    &-item
                        display: flex
                        align-items: center
                        margin-bottom: .5rem

                        & .material-icons
                            color: $success
                            margin-right: .5rem
                            border-radius: 50%
                            background: rgba(0,255,0,.2)
                            padding: .2rem
                            font-size: .9rem

    &-tab
        margin-top: 4rem

        &-info
            margin: 2rem 0
            color: grey

            & h5
                color: $black

            &-description
                margin-bottom: 2rem

        &-reviews
            margin: 2rem 0

            &-write
                margin-top: 2rem

            &-review

                &-card
                    padding: 1rem
                    border: 1px solid rgba(0,0,0,.2)
                    border-radius: .3rem
                    margin-bottom: 1rem

                    &-stars
                        display: flex
                        margin-bottom: .5rem

                        &-positive
                            color: $mainColor

                        &-negative
                            color: grey

    &-related
        margin-top: 4rem

        &-grid
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))

            &-link
                text-decoration: none
                color: $black

                &:hover
                    text-decoration: none
                    color: $black

            &-item
                padding: .5rem

                &-image
                    min-height: 185px
                    display: flex
                    align-items: center
                    justify-content: center

                    & img
                        width: 100%

                &-body
                    &-title
                        white-space: nowrap
                        text-overflow: ellipsis
                        max-width: 180px
                        overflow: hidden
                        color: $black

                    &-price
                        color: rgba(255, 0, 0, 0.8)
                        font-weight: bold

                        &-discounted
                            color: gray
                            text-decoration: line-through

.favorite-icon
    display: flex

@keyframes scale-in-left
    0%
        transform: scale(0)
        transform-origin: 0% 50%
        opacity: 1
    100%
        transform: scale(1)
        transform-origin: 0% 50%
        opacity: 1




