.retourproduct-amount{display:flex;align-items:center}.retourproduct-amount input{width:5rem;margin:0 .8rem}.retourproduct-title{display:flex;align-items:center}.retourproduct-title img{width:6rem}.retourproduct-title-text{margin-left:1rem}/*# sourceMappingURL=retourproduct.css.map */
