@import "variables"
@import "mobile"

.retour

    &-accordion
        &-card

            &-link
                display: flex
                align-items: center

            &-text
                margin-left: 2rem
                color: $black
                text-align: left

            &-img
                height: 4rem
                width: auto

    &-grid
        margin-bottom: 5rem
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

        &-item
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

            &-text
                white-space: nowrap
                text-overflow: ellipsis
                max-width: 240px
                overflow: hidden
            
            &-image
                height: 12rem
                display: flex
                align-items: center
                justify-content: center

                & img
                    width: auto
                    height: 100%