@import "variables"
@import "mobile"

.retourproduct

    &-amount
        display: flex
        align-items: center

        & input
            width: 5rem
            margin: 0 .8rem 

    &-title
        display: flex
        align-items: center

        & img
            width: 6rem
        
        &-text
            margin-left: 1rem