@import "variables"
@import "mobile"

.shoppingcart

    &-products

        &-actions
            display: flex
            width: 100%
            background: $lightBackgroundPurple
            flex-direction: column
            border-radius: .5rem
            padding: .6rem

            &-prices
                margin-left: auto

                &-table

                    &-sum
                        border-top: 1px solid rgba(0,0,0,.2)

                    &-shipping
                        color: $mainColor

                    & tr
                        & td
                            padding: .4rem

                            &:nth-child(2)
                                padding-left: 2rem
                                font-weight: bold


            &-buttons
                margin-left: auto
                padding-top: 2rem
                display: flex
                align-items: center

                &-order
                    align-items: center
                    display: flex

                    &-animation
                        &-path, &-driver
                            position: absolute
                            color: transparent

                    & span
                        font-size: 1.3rem
                        margin-right: .5rem

                & a
                    text-decoration: none

                    &:first-child
                        margin-right: .5rem

        &-none
            color: grey
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 3rem 0

            &-icon
                font-size: 6rem
                color: whitesmoke
                margin-bottom: .5rem

        &-table
            width: 100%
            margin: 3rem 0 0

            @include mobile-only
                width: 100%

                & tbody td
                    display: block
                    text-align: left

                & tbody td:before
                    content: attr(data-th)
                    display: block
                    text-align: left
                    font-weight: normal

                & tbody td::before
                    content: attr(data-th)
                    display: none

            & tr td
                padding-bottom: 4rem
                @include mobile-only
                    padding-bottom: .2rem
                    &:nth-child(3)
                        padding-bottom: 2.5rem

            &-img
                width: 5rem
                @include mobile-only
                    padding: .8rem

            &-text
                font-weight: bold

                & span
                    color: rgba(255, 0, 0, .7)
                    padding: .1rem .5rem
                    border-radius: .2rem
                    margin-left: .3rem
                    background: whitesmoke

                & a
                    text-decoration: none
                    color: #333

            &-actions
                display: flex

                &-amount
                    display: flex
                    align-items: center

                    &-input
                        margin-left: .5rem
                        min-width: 5rem

                & form
                    margin: 0

                &-price
                    flex-direction: row-reverse
                    width: 100%
                    font-weight: bold
                    display: flex
                    align-items: center
                    padding: 0 1rem 0 0

                    & span
                        margin-left: .3rem

            &-info
                display: flex
                align-items: center
                margin-top: .3rem

                &-actions
                    display: flex
                    align-items: center
                    flex-direction: row
                    margin-top: 1rem

                    & a
                        display: flex
                        align-items: center
                        flex-direction: row
                        margin-right: .5rem

                        & span
                            font-size: 1.2rem

                &-price
                    color: rgba(255, 0, 0, 0.8)
                    font-weight: bold
                    margin-right: .5rem
                    padding: .1rem .5rem
                    background: rgba(255,0,0,.2)
                    border-radius: 3rem

                &-stars
                    padding: .1rem .5rem
                    background: rgba(83,42,177,.2)
                    border-radius: 3rem
                    display: flex
                    align-items: center

                    & .material-icons
                        font-size: 15px
                        padding: 4.5px 0

                    &-positive
                        color: $mainColor

                    &-negative
                        color: grey

.order-animation
    color: transparent

    &:hover
        color: transparent

    &:focus
        color: transparent

    & span
        color: transparent

    & span:nth-child(2)
        border-bottom: 2px solid rgba(255, 255, 255, .3)
        border-radius: .1rem
        animation-name: path-appear
        animation-duration: .2s
        animation-fill-mode: both
        position: absolute
        height: 17px
        width: 97px

    & span:nth-child(3)
        color: white
        animation-name: drive-short
        animation-duration: 1s
        animation-delay: .2s
        animation-fill-mode: both
        position: absolute

@keyframes path-appear
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes drive-short
    0%
        margin-left: 0
    100%
        margin-left: 76px