.shoppingcart-products-actions {
  display: flex;
  width: 100%;
  background: #EEEBF5;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.6rem;
}
.shoppingcart-products-actions-prices {
  margin-left: auto;
}
.shoppingcart-products-actions-prices-table-sum {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.shoppingcart-products-actions-prices-table-shipping {
  color: #532AB1;
}
.shoppingcart-products-actions-prices-table tr td {
  padding: 0.4rem;
}
.shoppingcart-products-actions-prices-table tr td:nth-child(2) {
  padding-left: 2rem;
  font-weight: bold;
}
.shoppingcart-products-actions-buttons {
  margin-left: auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
.shoppingcart-products-actions-buttons-order {
  align-items: center;
  display: flex;
}
.shoppingcart-products-actions-buttons-order-animation-path, .shoppingcart-products-actions-buttons-order-animation-driver {
  position: absolute;
  color: transparent;
}
.shoppingcart-products-actions-buttons-order span {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.shoppingcart-products-actions-buttons a {
  text-decoration: none;
}
.shoppingcart-products-actions-buttons a:first-child {
  margin-right: 0.5rem;
}
.shoppingcart-products-none {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}
.shoppingcart-products-none-icon {
  font-size: 6rem;
  color: whitesmoke;
  margin-bottom: 0.5rem;
}
.shoppingcart-products-table {
  width: 100%;
  margin: 3rem 0 0;
}
@media (max-width: 480px) {
  .shoppingcart-products-table {
    width: 100%;
  }
  .shoppingcart-products-table tbody td {
    display: block;
    text-align: left;
  }
  .shoppingcart-products-table tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: left;
    font-weight: normal;
  }
  .shoppingcart-products-table tbody td::before {
    content: attr(data-th);
    display: none;
  }
}
.shoppingcart-products-table tr td {
  padding-bottom: 4rem;
}
@media (max-width: 480px) {
  .shoppingcart-products-table tr td {
    padding-bottom: 0.2rem;
  }
  .shoppingcart-products-table tr td:nth-child(3) {
    padding-bottom: 2.5rem;
  }
}
.shoppingcart-products-table-img {
  width: 5rem;
}
@media (max-width: 480px) {
  .shoppingcart-products-table-img {
    padding: 0.8rem;
  }
}
.shoppingcart-products-table-text {
  font-weight: bold;
}
.shoppingcart-products-table-text span {
  color: rgba(255, 0, 0, 0.7);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
  background: whitesmoke;
}
.shoppingcart-products-table-text a {
  text-decoration: none;
  color: #333;
}
.shoppingcart-products-table-actions {
  display: flex;
}
.shoppingcart-products-table-actions-amount {
  display: flex;
  align-items: center;
}
.shoppingcart-products-table-actions-amount-input {
  margin-left: 0.5rem;
  min-width: 5rem;
}
.shoppingcart-products-table-actions form {
  margin: 0;
}
.shoppingcart-products-table-actions-price {
  flex-direction: row-reverse;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0;
}
.shoppingcart-products-table-actions-price span {
  margin-left: 0.3rem;
}
.shoppingcart-products-table-info {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}
.shoppingcart-products-table-info-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
.shoppingcart-products-table-info-actions a {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0.5rem;
}
.shoppingcart-products-table-info-actions a span {
  font-size: 1.2rem;
}
.shoppingcart-products-table-info-price {
  color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.1rem 0.5rem;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 3rem;
}
.shoppingcart-products-table-info-stars {
  padding: 0.1rem 0.5rem;
  background: rgba(83, 42, 177, 0.2);
  border-radius: 3rem;
  display: flex;
  align-items: center;
}
.shoppingcart-products-table-info-stars .material-icons {
  font-size: 15px;
  padding: 4.5px 0;
}
.shoppingcart-products-table-info-stars-positive {
  color: #532AB1;
}
.shoppingcart-products-table-info-stars-negative {
  color: grey;
}

.order-animation {
  color: transparent;
}
.order-animation:hover {
  color: transparent;
}
.order-animation:focus {
  color: transparent;
}
.order-animation span {
  color: transparent;
}
.order-animation span:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.1rem;
  animation-name: path-appear;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  position: absolute;
  height: 17px;
  width: 97px;
}
.order-animation span:nth-child(3) {
  color: white;
  animation-name: drive-short;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  position: absolute;
}

@keyframes path-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drive-short {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 76px;
  }
}

/*# sourceMappingURL=shoppingcart.css.map */
