<div class="row edit">
    <div class="col-md-12">
        <h6 class="title">Product afbeeldingen</h6>
        <div class="edit-images">
            {{ @if($productImages[0] !== null) }}
                {{ @for($productImages as $image) }}
                    <div class="edit-images-container">
                        <a class="edit-images-container-delete" href="/admin/endpoint/products/edit/image/{{ $productInfo['StockItemID'] }}/{{ $image }}">
                            <span class="material-icons">delete</span>
                        </a>
                        <img src="/assets/images/products/StockItemIMG/{{ $image }}" />
                    </div>
                {{ @endfor }}
            {{ @else }}
                <span class="text-secondary">Nog geen afbeeldingen</span>
            {{ @endif }}
            <div class="edit-images-upload">
                <h6>Afbeelding toevoegen</h6>
                <form method="post" action="/admin/endpoint/products/edit/image/{{ $productInfo['StockItemID'] }}" enctype="multipart/form-data">
                    {{ @include(csrf) }}
                    <input type="file" name="image" class="form-control-file" />
                    <button class="btn btn-primary mt-1" type="submit">Afbeeldingen uploaden</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <h6 class="title">Product categorieën</h6>
        <div class="edit-categories">
            {{ @if($productCategories[0]['categoryId'] !== null) }}
                {{ @for($productCategories as $category) }}
                    <div class="edit-categories-container">
                        <a class="edit-categories-container-delete" href="/admin/endpoint/products/edit/tag/{{ $productInfo['StockItemID'] }}/{{ $category['categoryId'] }}">
                            <span class="material-icons">close</span>
                        </a>
                        {{ $category['categoryName'] }}
                    </div>
                {{ @endfor }}
            {{ @else }}
                <span class="text-secondary">Nog geen categorieën</span>
            {{ @endif }}
            <div class="edit-categories-new">
                <h6>Categorie toevoegen</h6>
                <form method="post" action="/admin/endpoint/products/edit/tag/{{ $productInfo['StockItemID'] }}">
                    {{ @include(CSRF) }}
                    <select class="form-control" name="category">
                        <option disabled selected hidden>Selecteer categorie</option>
                        {{ @for($allCategories as $category) }}
                            {{ @if(!in_array(['categoryId' => $category['StockGroupID'], 'categoryName' => $category['StockGroupName']], $productCategories)) }}
                                <option value="{{ $category['StockGroupID'] }}">{{ $category['StockGroupName'] }}</option>
                            {{ @endif }}
                        {{ @endfor }}
                    </select>
                    <button class="btn btn-primary mt-1" type="submit">Categorie toevoegen</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <h6 class="title">Product informatie</h6>
        <div class="edit-information">
            {{ @include(admin/products/forms/productinfo) }}
        </div>
    </div>
</div>

