<div class="container-fluid header">
    <div class="row">
        <div class="col-md-4 text-center">
            <p class="header-text">
                <span>Vandaag</span> besteld, <span>morgen</span> in huis
            </p>
        </div>
        <div class="col-md-4 text-center">
            <p class="header-text">
                Altijd <span>hulp</span> & <span>contact</span>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <p class="header-text">
                3 <span>maanden</span> recht op <span>retour</span>
            </p>
        </div>
    </div>
</div>