<div class="container my-5 login">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/endpoint/login" class="login-form">
                <h4 class="login-form-title py-3">Inloggen</h4>
                <div class="form-group">
                    <label for="inputEmail">Email adres</label>
                    <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                           placeholder="Voer uw email in">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Wachtwoord</label>
                    <input type="password" name="password" class="form-control" id="inputPassword"
                           placeholder="Uw wachtwoord">
                    <small><a href="/password-reset">Ik ben mijn wachtwoord vergeten...</a></small>
                </div>
                {{ @include(CSRF) }}
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <div class="g-recaptcha" data-sitekey="<?php echo getenv('RECAPTCHA_PUBLIC_TOKEN'); ?>"></div>
                <br/>
                <button type="submit" class="btn btn-primary">Inloggen</button>
                <a href="/registration">Ik heb nog geen account</a>
            </form>
        </div>
    </div>
</div>