<ul class="nav flex-column navigation">
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'Overzicht') }}active{{ @endif }}" href="/admin">
            <span class="material-icons">web</span>Overzicht
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'Producten') }}active{{ @endif }}" href="/admin/products">
            <span class="material-icons">category</span>Producten
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'voorraad') }}active{{ @endif }}" href="/admin/stock">
            <span class="material-icons">list_alt</span>Voorraad
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'Speciale Deals') }}active{{ @endif }}" href="/admin/sales">
            <span class="material-icons">new_releases</span>Speciale deals
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'Gebruikers') }}active{{ @endif }}" href="/admin/users">
            <span class="material-icons">people</span>Gebruikers
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link {{ @if($pageTitle === 'Instellingen') }}active{{ @endif }}" href="/admin/settings">
            <span class="material-icons">settings</span>Instellingen
        </a>
    </li>
    <li class="nav-item navigation-item">
        <a class="nav-link navigation-item-link" href="/admin/endpoint/logout">
            <span class="material-icons">logout</span>Uitloggen
        </a>
    </li>
</ul>