<div class="container my-5 registration">
    <div class="row">
        <div class="col-md-12">
            <h1 class="py-4 title">Veelgestelde vragen</h1>
            <p>Op deze pagina vindt u de meest voorkomende gestelde vragen door onze klanten en de daarbij behorende
                antwoorden van
                de NerdyGadgets klantenservice.</p>
            <p>Hebt u andere vragen die niet op deze pagina behandeld zijn, stel ze ons gerust via de NerdyGadgets
                contactpagina.</p>
            <p class="py-2"></p>
            <h4 class="py-3 title">Mijn Account</h4>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOneOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOneOne">
                                Hoe registreer je bij NerdyGadgets?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOneOne" class="collapse" aria-labelledby="headingOneOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Klik <a href="/registration">hier</a> om je bij NerdyGadgets als klant te registreren. Je
                                voornaam
                                dient voluit geschreven te worden. Het
                                is niet mogelijk om enkel je voorletters te gebruiken. NerdyGadgets voldoet aan alle
                                geldende
                                privacyregelingen en je gegevens zullen niet aan derden worden verstrekt.</p>
                            <h5></h5>
                            <p>Klik vervolgens op de button ‘Registreren’ en je gegevens worden gecontroleerd. Wanneer
                                alle gegevens
                                in
                                orde zijn, word je doorgeleid naar de homepage van Nerdygadgets. Indien je niet wordt
                                doorgeleid
                                naar de homepage, controleer dan of alle verplichte velden ingevuld zijn en dat de
                                wachtwoorden
                                overeen komen.</p>
                            <h5></h5>
                            <p>Heb je al een account log dan <a href="/login">hier</a> in.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOneFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneFour"
                                    aria-expanded="false" aria-controls="collapseOneFour">
                                Hoe vraag ik mijn accountgegevens op?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOneFour" class="collapse" aria-labelledby="headingOneFour"
                         data-parent="#accordion">
                        <div class="card-body">
                            <p>Als je je bestelgeschiedenis wilt inzien, de adressen wilt bekijken die we voor je
                                bestellingen
                                hebben opgeslagen, of de artikelen op je verlanglijstje wilt bekijken of aanpassen, ga
                                dan naar je
                                accountpagina.</p>
                            <h5></h5>
                            <p>Op dit gedeelte van de website kun je ook de informatie controleren en aanpassen die
                                we hebben opgeslagen over je favoriete merken of maten, en kun je jouw e-mail,
                                wachtwoord en
                                adressen en persoonsgegevens beheren.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOneTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneTwo"
                                aria-expanded="false" aria-controls="collapseOneTwo">
                            Inloggen mislukt?
                        </button>
                    </h5>
                </div>
                <div id="collapseOneTwo" class="collapse" aria-labelledby="headingOneTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p>Kun je niet inloggen? Controleer of je je e-mailadres of wachtwoord juist hebt ingevoerd.
                            Krijg je de
                            melding 'Inloggen mislukt’ dan betekent dit vaak dat je nog geen account hebt.</p>
                        <h5></h5>
                        <p>Ben je je wachtwoord vergeten? Klik dan op ‘Wachtwoord vergeten?’ en vul je e-mailadres in.
                            Je
                            ontvangt</p>
                        dan een e-mail met een nieuw wachtwoord.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOneThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneThree"
                                aria-expanded="false" aria-controls="collapseOneThree">
                            Hoe wijzig ik mijn emailadres?
                        </button>
                    </h5>
                </div>
                <div id="collapseOneThree" class="collapse" aria-labelledby="headingOneThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>Ga voor het wijzigen van je emailadres naar ‘mijn accountgegevens’. Hier kun je jouw
                            e-mailadres snel
                            en gemakkelijk aanpassen.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOneFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneFive"
                                aria-expanded="false" aria-controls="collapseOneFive">
                            Hoe wijzig ik mijn wachtwoord?
                        </button>
                    </h5>
                </div>
                <div id="collapseOneFive" class="collapse" aria-labelledby="headingOneFive" data-parent="#accordion">
                    <div class="card-body">
                        <p>Als je je wachtwoord niet bent vergeten, maar wel wilt wijzigen, kan dit direct in je
                            <a href="#">account</a>.
                            Ga hiervoor naar 'Mijn gegevens' en klik op de knop 'Wijzigen'.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOneSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneSix"
                                aria-expanded="false" aria-controls="collapseOneSix">
                            Hoe wijzig ik mijn adresgegevens?
                        </button>
                    </h5>
                </div>
                <div id="collapseOneSix" class="collapse" aria-labelledby="headingOneSix" data-parent="#accordion">
                    <div class="card-body">
                        <p>In je <a href="#">account</a> kun te allen tijde adressen toevoegen of wijzigen. Je kunt
                            hierbij ook
                            kiezen voor een
                            verschillende adressen als factuuradres en afleveradres. Als je maar één adres invoert,
                            wordt dit
                            automatisch ingesteld als zowel factuuradres als afleveradres.</p>
                        <h5></h5>
                        <p>Tijdens het plaatsen van je bestelling heb je ook altijd de optie om je adres te wijzigen.
                            Hierdoor heb
                            je de vrijheid om bijvoorbeeld de ene keer je bestelling te laten bezorgen bij je thuis en
                            de volgende
                            keer op het kantoor. Controleer je adresgegevens hier altijd zorgvuldig, zodat je bestelling
                            op het
                            juiste adres geleverd wordt.</p>
                        <h5></h5>
                        <p><strong>Let op!</strong>Na het definitief plaatsen van je bestelling kun je het afleveradres
                            niet meer
                            wijzigen. Ook
                            voor onze klantenservice is dit niet mogelijk.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOneSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneSeven"
                                aria-expanded="false" aria-controls="collapseOneSeven">
                            Zijn mijn inloggegevens bij NerdyGadgets beveiligd?
                        </button>
                    </h5>
                </div>
                <div id="collapseOneSeven" class="collapse" aria-labelledby="headingOneSeven" data-parent="#accordion">
                    <div class="card-body">
                        <p>Zoals vastgelegd in onze <a href="/privacy-statement">privacyverklaring</a> zijn je
                            inloggegevens op onze
                            website beveiligd en zal NerdyGadgets ze nooit voor enig doel gebruiken of doorgeven aan
                            derden.</p>
                    </div>
                </div>
            </div>
            <h4 class="py-3 title">Bestellen</h4>
            <div id="accordion2">
                <div class="card">
                    <div class="card-header" id="headingTwoOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoOne"
                                    aria-expanded="true"
                                    aria-controls="collapseTwoOne">
                                Wat is de levertijd?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwoOne" class="collapse" aria-labelledby="headingTwoOne" data-parent="#accordion2">
                        <div class="card-body">
                            Levering is voor de meeste items gratis. Momenteel hanteren wij levertijden van 2 tot 4
                            werkdagen (ma. -
                            za.) en leveren we voor nu alleen nog in Nederland. Bij het plaatsen van je bestelling en in
                            je
                            bestelbevestiging zie je de verwachte levertijd. Zodra je bestelling is verzonden ontvang je
                            een
                            bevestiging met een Track & Trace code, waarmee je de zending kunt volgen.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwoTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoTwo"
                                    aria-expanded="false" aria-controls="collapseTwoTwo">
                                Hoe werkt het bestelproces?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwoTwo" class="collapse" aria-labelledby="headingTwoTwo" data-parent="#accordion2">
                        <div class="card-body">
                            <p>Nadat je een artikel hebt gevonden naar je smaak en je een kleur en maat hebt gekozen,
                                kun je het
                                gewenste artikel in je winkelwagen plaatsen door op "In mijn winkelwagen" te
                                klikken.</p>
                            <p>Je kunt vervolgens verder shoppen, of direct naar je winkelwagen gaan.</p>
                            <h5></h5>
                            <p><strong>In de winkelwagen</strong></p>
                            Hier vind je een overzicht van alle artikelen die je in je winkelwagen hebt geplaatst. Het
                            totaalbedrag
                            en de verwachte leverdatum zijn hier ook terug te vinden.

                            <p>Klopt alles? Klik op "Bestelling plaatsen" om je bestelling te voltooien.</p>
                            <p>Je wordt gevraagd om in te loggen in je account, of als je nog geen account hebt, je te
                                registreren.</p>

                            <strong>Let op!</strong> De artikelen in je winkelwagen zijn niet voor je gereserveerd.
                            <h5></h5>
                            <p><strong>Hoe verder te gaan na de bestelling?</strong></p>
                            <p>Kort na je bestelling ontvang je van ons een bevestigingsmail met je bestelnummer. We
                                sturen ook een
                                e-mail wanneer je zending ons magazijn verlaat. In deze e-mail ontvang je een tracking
                                code, zodat
                                je je pakket onderweg kunt volgen.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwoThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseTwoThree"
                                    aria-expanded="false" aria-controls="collapseTwoThree">
                                Hoe zoek ik artikelen?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwoThree" class="collapse" aria-labelledby="headingTwoThree"
                         data-parent="#accordion2">
                        <div class="card-body">
                            <p>Er zijn verschillende manieren om het product te vinden waar je naar op zoek bent. Met de
                                <strong>zoekbalk</strong>
                                rechtsboven op de site kun je gericht zoeken door je zoekopdracht in te typen. Vul
                                simpelweg de
                                gewenste term or artikelnummer in en alle relevante zoekresultaten zullen worden
                                weergegeven. Met de
                                zoekbalk kun je bijvoorbeeld zoeken naar ‘USB RPG's’, 'Shirts’ of ‘Furry Footwear’.</p>
                            <h5></h5>
                            <p>Een andere manier om te zoeken, is door te bladeren door de <strong>verschillende
                                categorieën</strong>. Kies hiervoor eerst de gewenste categorie in de navigatie bovenaan
                                de
                                beginpagina van de website, bijvoorbeeld 'kleding' of 'schoenen'. Vervolgens kun je met
                                het menu aan
                                de linkerkant je zoekopdracht verfijnen door een specifieke categorie te kiezen,
                                bijvoorbeeld
                                "overhemden" of "enkellaarsjes".</p>
                            <h5></h5>
                            <p>Het kan zijn dat je behoorlijk veel zoekresultaten te zien krijgt. Je kunt het aantal
                                resultaten
                                verkleinen door <strong>filters</strong> toe te passen. Deze vind je boven de artikelen.
                                Je kunt
                                bijvoorbeeld filteren op kenmerken als merk, maat en kleur.</p>
                            <h5></h5>
                            Vervolgens kun je de artikelen <strong>sorteren</strong> op een aantal specificaties:
                            <h5></h5>
                            <ul>
                                <li>Meest populair (de meest verkochte artikelen worden als eerste getoond)</li>

                                <li>Nieuw (de nieuwste artikelen worden als eerste getoond)</li>

                                <li>Hoogste prijs</li>

                                <li>Laagste prijs</li>

                                <li>Sale (artikelen met korting worden als eerste getoond)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwoFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoFour"
                                aria-expanded="true"
                                aria-controls="collapseTwoFour">
                            Kan ik artikelen reserveren?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwoFour" class="collapse" aria-labelledby="headingTwoFour" data-parent="#accordion2">
                    <div class="card-body">
                        <p>Het is helaas niet mogelijk om artikelen voor een bepaalde tijd te reserveren. Producten op
                            de website
                            blijven voor iedereen beschikbaar, ook al heb je ze in de winkelwagen gelegd of staan ze op
                            je
                            verlanglijstje. Het kan dus voorkomen dat een artikel tijdens het winkelen uit je
                            winkelwagen verdwijnt,
                            omdat iemand anders het net op dat moment gekocht heeft en de voorraad op is.</p>
                        <h5></h5>
                        <p>Wil je zeker zijn van je aankoop dan adviseren wij je om het artikel direct te bestellen.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwoFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoFive"
                                aria-expanded="true"
                                aria-controls="collapseTwoFive">
                            Hoe kan ik een bestelling annuleren?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwoFive" class="collapse" aria-labelledby="headingTwoFive" data-parent="#accordion2">
                    <div class="card-body">
                        <p>Je hebt het verkeerde artikel besteld of je wenst toch een ander product? Niet erg, zolang je
                            bestelling
                            nog niet verpakt is, kun je jouw bestelling annuleren.</p>
                        <h5></h5>
                        <ul>
                            <li>Ga naar 'mijn bestellingen'.</li>
                            <li>Klik op 'mijn bestelling annuleren'.</li>
                            <li>Klik op 'Bestelling annuleren' om de gehele bestelling te annuleren of op 'Artikel
                                annuleren' om
                                afzonderlijke artikelen te verwijderen. Volg daarna de aanwijzingen die op je scherm
                                komen.
                            </li>
                            <li>Als je je bestelling betaald hebt per bankoverschrijving of iDeal, dan kun je de
                                terugbetaling
                                binnen 5
                                werkdagen op je rekening verwachten. Voor betalingen met PayPal en creditcard kan dit
                                tot aan
                                maximaal 14 dagen duren, maar deze betaalmethodes zijn tot op heden nog niet beschikbaar
                                op de
                                NerdyGadgets webshop.
                            </li>
                        </ul>
                        <h5></h5>
                        Gelieve met het onderstaande rekening te houden:
                        <h5></h5>
                        <ul>
                            <li>De opties 'Artikel annuleren' of 'Bestelling annuleren' zijn enkel voor een beperkte
                                tijd actief.
                                Zodra je
                                bestelling verpakt is kan deze niet meer geannuleerd worden.
                            </li>
                            <li>Je kunt een annulering niet ongedaan maken. Je kan vanzelfsprekend wel een nieuwe
                                bestelling bij ons
                                plaatsen.
                            </li>
                            <li>Het adres kan, nadat de bestelling geplaatst is, niet meer gewijzigd worden. Je kunt wel
                                de
                                bestelling
                                annuleren, respectievelijk retourneren en bij een volgende bestelling een nieuw adres
                                opgeven.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwoSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoSix"
                                aria-expanded="true"
                                aria-controls="collapseTwoSix">
                            Ik heb een artikel ontvangen dat ik niet heb besteld, wat nu?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwoSix" class="collapse" aria-labelledby="headingTwoSix" data-parent="#accordion2">
                    <div class="card-body">
                        <p>Onze excuses als we je een artikel hebben toegestuurd dat je niet hebt besteld.</p>
                        <h5></h5>
                        <p>Stuur het artikel alsjeblieft naar ons terug en geef hierbij aan dat je een verkeerd artikel
                            hebt
                            ontvangen door het retourdocument in te vullen.</p>
                        <h5></h5>
                        <p>Heb je het verkeerde artikel ontvangen in plaats van je bestelde artikel? Als je het juiste
                            artikel
                            alsnog wenst te ontvangen, willen we je vragen hier een nieuwe bestelling voor te plaatsen.
                            Als je het
                            artikel al hebt betaald, dan ontvang je het aankoopbedrag natuurlijk terug zodra we je
                            retourzending
                            hebben ontvangen. Dit kan 14 dagen duren.</p>
                    </div>
                </div>
            </div>
            <h4 class="py-3 title">Verzending & Levering</h4>
            <div id="accordion3">
                <div class="card">
                    <div class="card-header" id="headingThreeOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThreeOne"
                                    aria-expanded="true"
                                    aria-controls="collapseThreeOne">
                                Hoe kan ik mijn bestelling volgen?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThreeOne" class="collapse" aria-labelledby="headingThreeOne"
                         data-parent="#accordion3">
                        <div class="card-body">
                            <p>Log <a href="/login">hier</a> in om je bestelstatus te volgen.</p>
                            <h5></h5>
                            <p>Op het moment dat je bestelling wordt verzonden vanuit ons logistiek centrum, komt er
                                onder <a
                                        href="#">mijn bestellingen</a>
                                bij de bestelling ‘Verzonden’ te staan. Je ontvangt dan ook per e-mail een
                                verzendbevestiging van ons met een PostNL Track & Trace code, waarmee je de zending kunt
                                volgen.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThreeTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThreeTwo"
                                    aria-expanded="false" aria-controls="collapseThreeTwo">
                                Kan je bezorgen op een afhaalpunt?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThreeTwo" class="collapse" aria-labelledby="headingThreeTwo"
                         data-parent="#accordion3">
                        <div class="card-body">
                            <p>Je kunt er in de meeste gevallen voor kiezen om je bestelling te laten leveren bij een
                                PostNL
                                afhaalpunt.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThreeThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThreeThree"
                                    aria-expanded="false" aria-controls="collapseThreeThree">
                                Is het mogelijk om te leveren in het buitenland?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThreeThree" class="collapse" aria-labelledby="headingThreeThree"
                         data-parent="#accordion3">
                        <div class="card-body">
                            <p>Op dit moment levert NerdyGadgets alleen nog maar in Nederland in Europa, maar
                                NerdyGadgets is druk
                                bezig met plannen om dit verder uit te breiden.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThreeFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeFour"
                                aria-expanded="false" aria-controls="collapseThreeFour">
                            Wat gebeurt er met je bestelling als je niet thuis bent?
                        </button>
                    </h5>
                </div>
                <div id="collapseThreeFour" class="collapse" aria-labelledby="headingThreeFour"
                     data-parent="#accordion3">
                    <div class="card-body">
                        <p>De bezorger van PostNL biedt de bestelling aan op het afleveradres. Mocht je niet
                            aanwezig zijn tijdens de eerste bezorgpoging, dan ontvang je hiervan een briefje in de
                            brievenbus.</p>
                        <p>PostNL laat dan weten met een van de volgende 3 opties waar je bestelling is:</p>
                        <h5></h5>
                        <ul>
                            <li>Ze komen de volgende dag terug;</li>
                            <li>De bestelling ligt bij de buren;</li>
                            <li>Of de bestelling ligt bij een afhaalpunt.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThreeFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeFive"
                                aria-expanded="false" aria-controls="collapseThreeFive">
                            Heb je een beschadigd pakket ontvangen?
                        </button>
                    </h5>
                </div>
                <div id="collapseThreeFive" class="collapse" aria-labelledby="headingThreeFive"
                     data-parent="#accordion3">
                    <div class="card-body">
                        <p>Het spijt ons dit te vernemen en hopen dat je de artikelen intact en volledig hebt
                            ontvangen.</p>
                        <h5></h5>
                        <p>Als de beschadiging enkel aan het pakket is, kan je een andere doos gebruiken voor een
                            eventuele
                            retourzending. Gelieve bij de retourzending de retourdocumenten te gebruiken die zijn
                            bijgeleverd. Met
                            het retourlabel zal het pakket kosteloos kunnen worden geretourneerd.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThreeSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeSix"
                                aria-expanded="false" aria-controls="collapseThreeSix">
                            Meerdere bestellingen in één pakket
                        </button>
                    </h5>
                </div>
                <div id="collapseThreeSix" class="collapse" aria-labelledby="headingThreeSix" data-parent="#accordion3">
                    <div class="card-body">
                        <p>In sommige gevallen sturen we je meerdere bestellingen in één pakket toe - je wordt hierover
                            geïnformeerd
                            in de verzendbevestiging. We bundelen je bestellingen om je artikelen op de snelste, meest
                            milieuvriendelijke manier te bezorgen..</p>
                        <h5></h5>
                        <p>Indien je twijfelt of je al je artikelen hebt ontvangen, kun je het beste direct in het
                            pakket
                            controleren of deze artikelen van meerdere bestellingen bevat. Niet zeker? In <a href="#">mijn
                                bestellingen</a> kun je
                            op elk moment zien welke artikelen bij welke bestelling horen. Het kan zijn dat een van de
                            bestellingen
                            in het klantenaccount de status "Verzonden" behoudt als deze samen met een andere bestelling
                            wordt
                            verzonden.</p>
                    </div>
                </div>
            </div>
            <h4 class="py-3 title">Betalen</h4>
            <div id="accordion4">
                <div class="card">
                    <div class="card-header" id="headingFourOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFourOne"
                                    aria-expanded="true"
                                    aria-controls="collapseFourOne">
                                Betaalwijzen bij NerdyGadgets
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourOne" class="collapse" aria-labelledby="headingFourOne"
                         data-parent="#accordion4">
                        <div class="card-body">
                            Bij NerdyGadgets kan je alleen betalen met iDeal.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFourTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourTwo"
                                    aria-expanded="false" aria-controls="collapseFourTwo">
                                Betalen met iDeal
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourTwo" class="collapse" aria-labelledby="headingFourTwo"
                         data-parent="#accordion4">
                        <div class="card-body">
                            <p>Bij iDEAL word je tijdens het betalingsproces omgeleid naar de betaalomgeving van je
                                bank. Je hebt de
                                mogelijkheid om per iDEAL te betalen als je gebruik maakt van internetbankieren bij ABN
                                AMRO, ASN
                                Bank,
                                Friesland Bank, ING, Rabobank, SNS Bank, SNS Regio Bank, Van Lanschot Bankiers en
                                Triodos Bank. Bij
                                deze
                                betaalwijze word je betaling direct afgeschreven van je rekening.</p>
                            <h5></h5>
                            <p>Om te betalen met iDEAL doorloop je vanaf het punt waar je jouw betaalwijze kiest de
                                volgende
                                stappen:</p>
                            <h5></h5>
                            <ol>
                                <li>Selecteer je bank</li>
                                <li>Klik op 'Volgende', hierdoor kom je op de pagina 'Bestelling controleren en
                                    versturen'
                                </li>
                                <li>Nadat je op 'Bevestigen en doorgaan naar iDEAL' klikt ontvang je van ons per e-mail
                                    een
                                    bestelbevestiging
                                </li>
                                <li>Je wordt doorgestuurd naar de betaalomgeving van uw bank</li>
                                <li>Rond hier je betaling af</li>
                                <li>Vergeet niet na je betaling terug te gaan naar de NerdyGadgets site. Hier wordt jouw
                                    bestelling
                                    afgerond en zie je een bevestiging van je betaling
                                </li>
                                <li>Zodra je bestelling ons magazijn verlaat ontvang je een verzendbevestiging</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <h4 class="py-3 title">Retour & Terugbetaling</h4>
                <div id="accordion5">
                    <div class="card">
                        <div class="card-header" id="headingFiveOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFiveOne"
                                        aria-expanded="true"
                                        aria-controls="collapseFiveOne">
                                    Mijn artikel is defect
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFiveOne" class="collapse" aria-labelledby="headingFiveOne"
                             data-parent="#accordion5">
                            <div class="card-body">
                                <p>Indien een artikel defect is, dien je een claim in. Vul een formulier in om je klacht
                                    te
                                    verwerken en geef alsjeblieft zoveel mogelijk details over het defect, zodat we je
                                    claim sneller
                                    kunnen verwerken.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFiveTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFiveTwo"
                                        aria-expanded="false" aria-controls="collapseFiveTwo">
                                    Kan ik een artikel ruilen?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFiveTwo" class="collapse" aria-labelledby="headingFiveTwo"
                             data-parent="#accordion5">
                            <div class="card-body">
                                <p>Het direct omruilen van een artikel is helaas niet mogelijk. Om het gewenste artikel
                                    te ontvangen
                                    kun je een nieuwe bestelling plaatsen en de andere kosteloos aan ons
                                    retourneren.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFiveThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFiveThree"
                                        aria-expanded="false" aria-controls="collapseFiveThree">
                                    Hoe stuur ik een artikel retour?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFiveThree" class="collapse" aria-labelledby="headingFiveThree"
                             data-parent="#accordion5">
                            <div class="card-body">
                                <p>Ongedragen artikelen kunnen kosteloos binnen 3 maanden aan ons worden geretourneerd,
                                    geef je
                                    retourzending kosteloos af bij een PostNL punt.</p>
                                <p>Maak voor je retourzending gebruik van het meegeleverde retourlabel, bewaar je
                                    verzendbewijs goed
                                    totdat de retour zending door NerdyGadgets is verwerkt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFiveFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFiveFour"
                                    aria-expanded="false" aria-controls="collapseFiveFour">
                                Hoe volg ik mijn retourzending?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFiveFour" class="collapse" aria-labelledby="headingFiveFour"
                         data-parent="#accordion5">
                        <div class="card-body">
                            <p>Wanneer je een retourzending afgeeft bij een PostNL pakketpunt, krijg je een Track &
                                Trace code
                                waarmee je je zending kunt volgen vanaf het pakketpunt tot aan ons retourcentrum.</p>
                            <h5></h5>
                            <p>Mocht je twee weken na het retourneren van je bestelling nog geen e-mail hebben ontvangen
                                van ons,
                                neem dan contact op met onze klantenservice.</p>
                            <h5></h5>
                            <p>Wij helpen je graag verder.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFiveFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveFive"
                                aria-expanded="false" aria-controls="collapseFiveFive">
                            Terugbetaling
                        </button>
                    </h5>
                </div>
                <div id="collapseFiveFive" class="collapse" aria-labelledby="headingFiveFive" data-parent="#accordion5">
                    <div class="card-body">
                        <p><strong>Ik heb mijn bestelling geretourneerd, wanneer ontvang ik mijn geld terug?</strong>
                        </p>
                        <p>De verwerking van een retourzending kan tot aan 10 dagen duren. Wanneer je retourzending is
                            verwerkt,
                            wordt het aankoopbedrag zo snel mogelijk teruggestort naar de bij ons bekende
                            betaalgegevens. Als je je
                            bestelling betaald hebt per iDeal, dan kun je je terugbetaling binnen 5 werkdagen op je
                            bankrekening
                            verwachten.</p>
                        <h5></h5>
                        <p><strong>Mijn bestelling is geannuleerd maar al wel betaald, wat nu?</strong></p>
                        <p>Is je bestelling geannuleerd, maar is het bedrag al wel afgeschreven van je rekening? Het
                            bedrag wordt
                            dan automatisch teruggestort naar de rekening waarmee betaald is. Het kan maximaal 5
                            werkdagen duren
                            voordat dit bedrag weer zichtbaar is op je rekening.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFiveSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveSix"
                                aria-expanded="false" aria-controls="collapseFiveSix">
                            Kan ik artikelen uit verschillende bestellingen in één doos retourneren?
                        </button>
                    </h5>
                </div>
                <div id="collapseFiveSix" class="collapse" aria-labelledby="headingFiveSix" data-parent="#accordion5">
                    <div class="card-body">
                        <p>Je kunt gerust meerdere bestellingen in één doos retourneren. Meld je retouren aan in je <a
                                href="#">account</a>
                            en voeg eventueel de retourformulieren van de verschillende bestellingen bij in de doos.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFiveSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveSeven"
                                aria-expanded="false" aria-controls="collapseFiveSeven">
                            Voorwaarden retourneren
                        </button>
                    </h5>
                </div>
                <div id="collapseFiveSeven" class="collapse" aria-labelledby="headingFiveSeven"
                     data-parent="#accordion5">
                    <div class="card-body">
                        <p>Alle artikelen waarvan de factuur binnen de betalingstermijn is voldaan kunnen gedurende
                            maximaal 3
                            maanden aan ons worden geretourneerd. Dit is mogelijk indien de artikelen ongedragen zijn,
                            in originele
                            staat en voorzien zijn van de originele labels.</p>
                        <h5></h5>
                        <p>Het op een hygiënische manier passen van artikelen is uiteraard toegestaan. Wij raden je
                            daarom aan de
                            schoenen op zachte oppervlakken (bijv. tapijt) te passen en uit te proberen. Labels en
                            etiketten mogen
                            uitsluitend verwijderd worden indien dit het passen en beoordelen van het artikel
                            verhindert. Indien je
                            het artikel wilt retourneren, zorg ervoor dat je het artikel niet vies maakt en in de
                            originele staat en
                            fabrieksverpakking naar ons terugstuurt.</p>
                        <h5></h5>
                        <p>Mocht je geen NerdyGadgets doos meer in je bezit hebben dan kun je ook een andere doos
                            gebruiken, mits
                            het retourdocument goed zichtbaar is.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFiveEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveEight"
                                aria-expanded="false" aria-controls="collapseFiveEight">
                            Garantie bij NerdyGadgets
                        </button>
                    </h5>
                </div>
                <div id="collapseFiveEight" class="collapse" aria-labelledby="headingFiveEight"
                     data-parent="#accordion5">
                    <div class="card-body">
                        <p>NerdyGadgets biedt op alle artikelen een wettelijke garantie van 2 jaar. Voldoet een
                            aangekocht artikel
                            niet aan datgene wat je er in alle redelijkheid van mag verwachten, dan kun je het kosteloos
                            retourneren
                            en wordt het aankoopbedrag teruggestort op je rekening</p>
                        <h5></h5>
                        <p><strong>Defecten die niet onder de garantie vallen:</strong></p>
                        <h5></h5>
                        <ul>
                            <li>Alle producten die onder levensmiddelen vallen</li>
                            <li>Normale slijtage van zolen, hakken en kleding.</li>
                            <li>Kale neuzen bij schoenen door normale slijtage van buitenaf.</li>
                            <li>Beschadiging aan de hiel.</li>
                            <li>Gebreken veroorzaakt door verkeerd of intensief gebruik.</li>
                            <li>Overmatige transpiratie.</li>
                            <li>Afgeven en verkleuring van schoenen en kleding.</li>
                            <li>Het pillen van kleding of schoenen.</li>
                            <li>Gebreken ontstaan door wassen of drogen.</li>
                            <li>Slijtage aan badkleding.</li>
                            <li>Gebreken ontstaan door externe invloeden, bijvoorbeeld wrijving, scherpe voorwerpen of
                                chemicaliën.
                            </li>
                            <li>Gebreken aan water- en winddichtheid van schoeisel of kleding, tenzij anders vermeld in
                                de
                                productomschrijving in onze webshop.
                            </li>
                            <li>Artikelen die vanwege het model lichamelijke ongemakken veroorzaken, bijvoorbeeld zweten
                                of
                                blaren.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFiveNine">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFiveNine"
                                aria-expanded="false" aria-controls="collapseFiveNine">
                            Herroepingsrecht
                        </button>
                    </h5>
                </div>
                <div id="collapseFiveNine" class="collapse" aria-labelledby="headingFiveNine" data-parent="#accordion5">
                    <div class="card-body">
                        <p>Volgens de wet zijn wij verplicht de volgende tekst op onze pagina op te nemen. Ondanks dat
                            de tekst
                            wellicht wat verwarrend is willen wij je ervan verzekeren dat deze tekst niets af doet aan
                            ons
                            retourbeleid: je hebt nog steeds 3 maanden de tijd om je bestelling te retourneren. Voor een
                            beroep op
                            deze extra regeling gelden wel aanvullende eisen. Deze kun je hier lezen.</p>
                        <h5></h5>
                        <p><strong>Herroepingsrecht</strong></p>
                        <h5></h5>
                        <p>U heeft het recht om binnen een termijn van 14 dagen zonder opgave van redenen de
                            overeenkomst te
                            herroepen.</p>
                        <h5></h5>
                        <p>De herroepingstermijn verstrijkt 14 dagen na de dag waarop u of een door u aangewezen derde,
                            die niet de
                            vervoerder is, het goed fysiek in bezit krijgt.</p>
                        <h5></h5>
                        <p>Om het herroepingsrecht uit te oefenen, moet u ons via een ondubbelzinnige verklaring
                            (bijvoorbeeld
                            schriftelijk, per post, fax of e-mail) op de hoogte stellen de overeenkomst te herroepen. U
                            kunt
                            hiervoor gebruikmaken van het modelformulier voor herroeping (PDF), maar bent hiertoe niet
                            verplicht.</p>
                        <h5></h5>
                        <p>Om de herroepingstermijn na te leven volstaat het om uw mededeling betreffende uw uitoefening
                            van het
                            herroepingsrecht te verzenden voordat de herroepingstermijn is verstreken.</p>
                        <h5></h5>
                        <p><strong>Gevolgen van de herroeping</strong></p>
                        <h5></h5>
                        <p>Als u de overeenkomst herroept, ontvangt u alle betalingen die u tot op dat moment heeft
                            gedaan,
                            inclusief leveringskosten (met uitzondering van eventuele extra kosten ten gevolge van uw
                            keuze voor een
                            andere wijze van levering dan de door ons geboden goedkoopste standaard levering) onverwijld
                            en in ieder
                            geval niet later dan 14 dagen nadat wij op de hoogte zijn gesteld van uw beslissing de
                            overeenkomst te
                            herroepen, van ons terug. Indien je slechts een deel van je bestelling retour stuurt dan
                            worden de
                            kosten voor levering niet teruggestort. Wij betalen u terug met hetzelfde betaalmiddel als
                            waarmee u de
                            oorspronkelijke transactie heeft verricht, tenzij u uitdrukkelijk anderszins heeft
                            ingestemd; in ieder
                            geval zult u voor zulke terugbetaling geen kosten in rekening worden gebracht. Wij mogen
                            wachten met
                            terugbetaling tot wij de goederen hebben teruggekregen, of u heeft aangetoond dat u de
                            goederen heeft
                            teruggezonden, al naar gelang welk tijdstip eerst valt.</p>
                        <h5></h5>
                        <p>U dient de goederen onverwijld, doch in ieder geval niet later dan 14 dagen na de dag waarop
                            u het
                            besluit de overeenkomst te herroepen aan ons heeft medegedeeld, aan ons terug te zenden of
                            te
                            overhandigen. U bent op tijd als u de goederen terugstuurt voordat de termijn van 14 dagen
                            is
                            verstreken.</p>
                        <h5></h5>
                        <p>De directe kosten van het terugzenden van de goederen komen voor uw rekening.</p>
                        <h5></h5>
                        <p>U bent alleen aansprakelijk voor de waardevermindering van de goederen die het gevolg is van
                            het gebruik
                            van de goederen, dat verder gaat dan nodig is om de aard, de kenmerken en de werking van de
                            goederen
                            vast te stellen.</p>
                    </div>
                </div>
            </div>
            <h1 class="py-3"></h1>
            <p class="col-md-3"> Terug naar <a class="btn btn-primary" href="/">Homepage </a></p>
            <h1 class="py-3"></h1>
        </div>
    </div>
</div>


