<h4>{{ $product['StockItemName'] }}
    {{ @if($product['DiscountPercentage'] != 0 && $product['DiscountPercentage'] != null) }}
    <?php $discountPercentage = round($product['DiscountPercentage'], 0) ?>
    <span>{{ $discountPercentage }}% korting</span>
    {{ @endif }}
    {{ @if($product['DiscountAmount'] != 0 && $product['DiscountAmount'] != null) }}
    <?php $discountAmount = round($product['DiscountAmount'], 0) ?>
    <span>{{ $discountAmount }},- korting</span>
    {{ @endif }}
</h4>
<div class="product-title-extra">
    {{ @if($product['MarketingComments'] !== '') }}
        <p>{{ $product['MarketingComments'] }}<div class="product-title-extra-devide"></div></p>
    {{ @endif }}
    <div class="product-title-extra-stars">
        <?php for($i = 0; $i < floor($product['stars']); $i++) { ?>
        <span class="material-icons product-tab-reviews-review-card-stars-positive">star</span>
        <?php } ?>
        {{ @if((ceil($product['stars'])-$product['stars']) != 0) }}
            <span class="material-icons product-tab-reviews-review-card-stars-positive">star_half</span>
        {{ @endif }}
        <?php for($i = 0; $i < 5-ceil($product['stars']); $i++) { ?>
        <span class="material-icons product-tab-reviews-review-card-stars-negative">star_border</span>
        <?php } ?>
    </div>
</div>
