<div class="row user-edit">
    <div class="col-md-12">
        <h6 class="title"><img class="user-edit-image mr-2" src="/assets/storage/people/{{ $userInfo['Photo'] }}"> {{ $userInfo['FullName'] }} bewerken</h6>
    </div>
    <div class="col-md-12">
        {{ @include(admin/users/forms/userinfo) }}
    </div>
</div>