<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h4 class="title mb-3">Mijn account</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Account gegevens</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Adres gegevens</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                        aria-selected="false">Wachtwoord</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="devices-tab" data-toggle="tab" href="#devices" role="tab" aria-controls="devices"
                       aria-selected="false">Ingelogde apparaten</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete"
                       aria-selected="false">Account verwijderen</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    

                    {{ @include(account/accountdata) }}

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                    {{ @include(account/addressdata) }}

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    {{ @include(account/password) }}

                </div>
                <div class="tab-pane fade" id="devices" role="tabpanel" aria-labelledby="devices-tab">

                    {{ @include(account/signedindevices) }}

                </div>
                <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">

                    {{ @include(account/delete) }}

                </div>
            </div>
        </div>
    </div>
</div>