<div class="row">
    <div class="col-md-12">
        <div class="my-3">
            <h5 class="title">Contact formuleren email adressen</h5>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email adres</th>       
                    <th scope="col">Verwijderen</th>
                </tr>
            </thead>
            <tbody>
            {{ @for($contactEmails as $email) }}
                <tr>
                    <td>{{ $email['email'] }}</td>
                    <td><a role="button" class="btn btn-danger" href="/admin/endpoint/settings/delete-email/{{ $email['contactemails_id'] }}">Verwijderen</a></td>
                </tr>
            {{ @endfor }}
            </tbody>
        </table>

        <form method="post" action="/admin/endpoint/settings/contact-email">
            {{ @include(CSRF) }}
            <div class="form-group">
                <label>Email adres</label>
                <input type="email" class="form-control" name="email" placeholder="Email adres" />
            </div>
            <button class="btn btn-primary" type="submit">Email toevoegen</button>
        </form
    </div>
</div>

           
